html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Arvo';
}

.imagen-carousel {
    height: 400px; 
    object-fit: cover;
}
header {
    background: #ffc107BF;
}

.navbar {
    background: #ffc107BF;
    border-bottom: none;
}

.navbar-light .navbar-nav .nav-link {
    color: black; 
}

.navbar-light .navbar-toggler-icon {
    background-color: black; 
}
footer {
    background: #0d6efd;
    color: black;
    text-align: center;
}
